

.test-list-table    {
    width: 100%;
    border: 4px double black;
    border-collapse: collapse;
}

.test-list-table th {
    text-align: left;
    background-color: cornflowerblue;
    padding: 5px;
    border: 1px solid black;
}

.test-list-table td  {
    padding: 5px;
    border: 1px solid black;
    background-color: aquamarine
}

.deadlineSort{
    cursor: pointer;
}